.section-about {

  background-color: $color-grey-light-2;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  
  padding: 20rem 0;
   /*noinspection CssOptimizeSimilarProperties*/
   background-image:linear-gradient(
    to right bottom,
    rgba($color-primary-light,0.5),
    rgba($color-primary-dark,0.8)),
    url(../../img/nat-4.jpg);
    background-size: cover;
    margin-top: -11.5rem;

    transform: skewY(-7deg);

    & > * {
      transform: skewY(7deg)
    }
}

.section-tours {
  background-color: $color-grey-light-2;
  padding: 20rem 0 50rem 0;
  margin-top: -12rem;
}