@charset "UTF-8";
/*----------- start Imports ----------*/
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");
/* for variables declaration */
/*
0 - 600px : Phone
600 - 900px : Tablet portrait
900 - 1200px : Tablet Landscape
[1200 - 1800] is where our normal styles apply
1800px + : Big desktop

 */
/*
$breakpoint argument choices:
- phone  ( phone )
- tab-port ( tablet portrait )
- tab-land  ( tablet landscape )
- big-desktop ( desktop large )
*/
/*
-- em is best unit for media queries
1em = 16px
37.5em = 600px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* Defining the default font-size*/
/*  1 rem = 10px */
/*
**
      !!!! always put the media queries in screen order to not have conflict with screen size !!!!!
**
*/
html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 70%; } }
  @media (max-width: 75em) {
    html {
      font-size: 60%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 55%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 35%; } }

/* Defining the default font-family, font-size*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 1rem;
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

/* for animation styling */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  75% {
    opacity: 0.5;
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  75% {
    opacity: 0.5;
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* for text styling */
.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 4.5rem; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 2.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    /*
     animation-iteration-count: 2
    */ }
    @media (max-width: 56.25em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 3rem; } }
    @media (max-width: 75em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 4rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    font-family: "Gloria Hallelujah", cursive;
    text-transform: lowercase;
    animation-name: moveInRight;
    animation-duration: 2s; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 1rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #5075d5, #b46296);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewX(0deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* reusable styles like margin*/
.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.section-about {
  background-color: #ebf4f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 75em) {
    .section-about {
      padding: 20rem 3rem 25rem; } }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 18rem 0 50rem; } }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 25rem 0 50rem; } }

.section-features {
  padding: 20rem 0;
  /*noinspection CssOptimizeSimilarProperties*/
  background-image: linear-gradient(to right bottom, rgba(80, 117, 213, 0.5), rgba(180, 98, 150, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover;
  margin-top: -11.5rem;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 15rem 0; } }
  @media (max-width: 75em) {
    .section-features {
      padding: 15rem 1rem 20rem; } }

.section-tours {
  background-color: #ebf4f7;
  /* top right bottom left*/
  padding: 25rem 0 10rem 0;
  margin-top: -12rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 5rem 0; } }
  @media (max-width: 75em) {
    .section-tours {
      padding: 25rem 1rem 15rem; } }

.section-stories {
  position: relative;
  /* top-bottom right-left */
  padding: 10rem 0; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 5rem 0; } }

.section-book {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, #5075d5, #b46296); }
  @media (max-width: 75em) {
    .section-book {
      padding: 15rem 2rem 15rem; } }

.book {
  /* Divide screen with color */
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../img/nat-10.jpg);
  /* occupy the entire container of img div like "cover" */
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4em rgba(0, 0, 0, 0.3);
  height: 50rem; }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../../img/nat-10.jpg);
      background-size: cover; } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9)), url(../../img/nat-10.jpg);
      background-size: cover;
      height: 60rem; } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 65%; } }
    @media (max-width: 75em) {
      .book__form {
        width: 100%; } }

.btn {
  /* button animation on hover */
  /*When we click*/
  /* Button effect */ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .35s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn--animated {
    animation-name: moveInBottom;
    animation-duration: 1s; }
  .btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.5) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn-white {
    background-color: white;
    color: #777; }
    .btn-white::after {
      background-color: white; }
  .btn-purple {
    background-color: #5075d5;
    color: white; }
    .btn-purple::after {
      background-color: #5075d5; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }

.btn-text:link, .btn-text:visited {
  color: #5075d5;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #5075d5;
  font-size: 1.6rem;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #b46296;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

/* Photos section*/
.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    transition: all .2s;
    outline-offset: 1.5rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 0.5rem solid #5075d5;
      outline-style: dashed;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 2; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.85); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .7rem;
  transition: all .2s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, #5075d5, #b46296);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text {
    text-align: center; }
  .feature-box:hover {
    cursor: pointer;
    transform: translateY(-1.5rem) scale(1.03);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    background-color: red;
    color: white;
    height: 50rem;
    font-size: 2rem;
    transition: all .7s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      background-color: green;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #bcd0ff, #5643fa); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #f4a6cd, #e01f7f); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    /* Dont work in internet explorer */
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%); }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/nat-5.jpg); }
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, #bcd0ff, #5643fa), url(../../img/nat-6.jpg); }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, #f4a6cd, #e01f7f), url(../../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    position: absolute;
    text-align: right;
    top: 12rem;
    right: 2rem;
    width: 70%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    /* Clone the decoration in the element ( add -webkit to work in chrome) */
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(188, 208, 255, 0.85), rgba(86, 67, 250, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(244, 166, 205, 0.85), rgba(224, 31, 127, 0.85)); }
  .card__details {
    padding: 2.5rem; }
    .card__details ul {
      color: black;
      list-style: none; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #ebf4f7; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      border-radius: 3px;
      height: auto;
      background-color: white;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          text-align: center;
          transform: rotateY(0);
          clip-path: polygon(0 0, 100% 0, 100% 89%, 0% 100%);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(-180deg); }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 6rem; } }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  padding: 6rem;
  font-size: 1.6rem;
  /*Center photo*/
  /* Center text in photo*/ }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    position: relative;
    /*Wrapping text around the circle*/
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    /* Make the circle */
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    /*Made distance with text*/
    transform: translateX(-3rem); }
  .story__img {
    /*Show dimension percentage by parent element (story__shape) */
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: all .45s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    /*effect to show name from bottom to top*/
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
    opacity: 0;
    transition: all .4s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    /*effect to show name from bottom to top*/
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: scale(1.12);
    /* blur image */
    filter: blur(2px) brightness(106%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .35;
  /*to fix potentially problem with width*/
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    /* Fill the entire parent element and maintzin the aspect ration (work like backgrounf-size)*/
    object-fit: cover; }

.form {
  /* Using sibling selector SCSS (label selector needs to be after the input selector to use "+") 
      -- Use "placeholder-shown" to add css effect on input keypress 
      */
  /* Sibling selector "~" because radio-button is not child element of radio-input  */ }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    height: auto;
    display: block; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ed4542; }
    .form__input::-webkit-input-placeholder {
      color: #777; }
  .form__label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: .5rem;
    display: block;
    transition: all .2s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__radio-group {
    width: 48%;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .form__radio-group {
        width: 100%;
        margin-bottom: 2rem; } }
  .form__radio-input {
    display: none; }
  .form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4rem; }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border: solid 4px #5075d5;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -.4rem;
    left: 0; }
    .form__radio-button::after {
      content: "";
      display: block;
      height: 1.1rem;
      width: 1.1rem;
      border-radius: 50%;
      position: absolute;
      /* ---- Center an element in the parent element --- */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* -------- */
      background-color: #5075d5;
      opacity: 0;
      transition: opacity .2s; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }

.header {
  height: 95vh;
  /*noinspection CssOptimizeSimilarProperties*/
  background-image: linear-gradient(to right bottom, rgba(80, 117, 213, 0.5), rgba(180, 98, 150, 0.8)), url(../../img/hero.jpg);
  background-size: cover;
  /*noinspection CssOptimizeSimilarProperties*/
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 120rem;
  margin: 0 auto;
  /* select everything except the last child */
  /* ------- Reduce the grid when we are on small screens  ------- */
  /* ---------------------------------------------------------------- */
  /*
  1 - don't add dièse or commas in comments
  2 - use special decorator to add sass variable works
  */ }
  .row:not(:last-child) {
    margin-bottom: 4rem;
    /* ------- Reduce bottom margin on small screen  ------- */ }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 3rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 1rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem;
      /* ------- Delete the margin on small screens  ------- */ }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 3rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc(( 100% - (6rem * 2)) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * (( 100% - (6rem * 2)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc(( 100% - (6rem * 3)) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * (( 100% - (6rem * 3)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * (( 100% - (6rem * 3)) / 4) + ( 2 * 6rem)); }

.footer {
  background-color: #151e2d;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  @media (max-width: 75em) {
    .footer {
      padding: 8rem 2rem; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #ededed;
    padding-top: 2rem;
    /* "inline-block" is use to take only the place de div needs*/
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__list {
    list-style: none; }
  .footer__copyright {
    border-top: 1px solid #ededed;
    padding-top: 2rem;
    display: inline-block;
    width: 90%; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }
  .footer__link:link, .footer__link:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: rotate(5deg) scale(1.1); }

.navigation {
  /* When checkbox is checked apply this css on background element*/ }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    font-size: 1.3rem;
    background-color: white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 4rem;
    right: 4rem;
    border-radius: 50%;
    z-index: 100;
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
    @media (max-width: 56.25em) {
      .navigation__button {
        top: 2rem;
        right: 2rem; } }
    @media (max-width: 37.5em) {
      .navigation__button {
        top: 1rem;
        right: 1rem; } }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 4.5rem;
    right: 4.5rem;
    background-image: radial-gradient(#5075d5, #b46296);
    z-index: 80;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media (max-width: 56.25em) {
      .navigation__background {
        top: 2.5rem;
        right: 2.5rem; } }
    @media (max-width: 37.5em) {
      .navigation__background {
        top: 1.5rem;
        right: 1.5rem; } }
  .navigation__nav {
    /* Take all the viewport height (screen dimension) */
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 85;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center; }
  .navigation__item:not(:last-child) {
    margin-bottom: 2rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: .5rem 1.5rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(110deg, transparent 0%, transparent 50%, white 50%);
    background-size: 220%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1rem;
      display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 90%;
    color: #5075d5;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(100); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #777;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .5s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(45deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-45deg); }

/*----------- end Imports ----------*/
