/* for variables declaration */

//COLORS
$color-primary : #55c57a;
$color-primary-light : #5075d5;
$color-primary-dark : #b46296;
$color-grey-dark : #777;

$color-grey-light-1 : #ededed;

$color-light-grey : #f1f0e7;
$color-orangered : rgba(255, 168, 29, 0.5);
$color-white : white;
$color-black : black;


//GRID
$grid-width : 114rem;
$gutter-horizontal : 6rem;
$gutter-vertical: 4rem;