/* //////// Positioning
Always use position relative, to the parent element which
we want to set absolute postion


/* //////// rem to pixel function

.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
}

------Example of using
p {
    .font-size(1.2);
}
*/


/* //////// Center element code

  /* ---- Center an element in the parent element 
  top: 50%;
  left: 50%;
  transform: translate( -50% , -50% );
---- */
